.attestation-grid {
    display: grid;
    grid-template-columns: [start] auto auto auto [end];
    grid-template-rows: [start] auto auto 10px auto auto [end];
    margin: 20px;
}

#attestation-icon {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 75px;
    height: 75px;
}

#attestation-header {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: span end;
    text-align: left;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 0;
}

#attestation-url {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: span end;
    text-align: left;
    color: grey;
    margin-top: 0;
    margin-bottom: auto;
}

#attestation-info {
    grid-row: 4;
    grid-column-start: start;
    grid-column-end: span 2;
    display: flex;
    align-items: center;
}

#button-remove-trust {
    grid-row: 4;
    grid-column: 3;
    margin-right: 0;
    margin-left: auto;
}

#button-settings {
    grid-column: 3;
    grid-row: 5;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
    font-size: smaller;
}
